# === Python ===
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
.env
.venv/
venv/
*.log

# === Jupyter Notebook ===
.ipynb_checkpoints

# === Visual Studio Code ===
.vscode/

# === macOS ===
.DS_Store

# === Linux ===
*.swp

# === Windows ===
Thumbs.db
desktop.ini

# === Rapport généré ===
rapport.html

# === Docker ===
*.tar
.dockerignore

# === Logs ===
vulnscanner.log

# === Environment ===
.env
